:root {
    --background-color: #972e2e;
    --primary-color: #d0112b;
    --secondary-color: #e1e3e9;
    --white-color: #ffffff;
}

/* BODY */
body {
    margin: 0;
    overflow-x: hidden;
	min-height: 100vh;
    background: url('../images/MDZ_5499.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    color: var(--white-color);
}

/* MATERIAL ICONS */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}


/* HEADER */

.underlined {
	min-width: 100%;
	border-bottom: 1px solid white;
}

header {
    padding: 1rem;
    margin: 0.8rem;
}


@media only screen and (min-width: 1200px) {
	body {
		background-position: top;
		background-size: cover;
	}
    .card {
        min-height: 12rem;
    }
	.underlined {
		min-width: 50%;
		border-bottom: 1px solid white;
	}

	.add-padding-top {
		padding-top: 1.8rem;
	}
}